[Unit]
Description=watch password changed
After=getty.target

[Service]
Type=simple
Restart=idle
ExecStart=/root/db_passwd/db_passwd.sh
TimeoutSec=10

[Install]
WantedBy=multi-user.target

